<div class="min-h-screen bg-gray-900">
    <app-course-wrapper-header></app-course-wrapper-header>
    <div class="py-6">
      <div class="mx-auto sm:px-6 lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="hidden lg:block lg:col-span-4 xl:col-span-3">
          <app-course-wrapper-menu></app-course-wrapper-menu>
        </div>
        <main class="lg:col-span-8 xl:col-span-7">
          <!-- Your content -->
          <p>Main</p>

        </main>
        <aside class="hidden xl:block xl:col-span-2">
          <div class="sticky top-6 space-y-4">
            <!-- Your content -->
            <p>Sticky</p>

          </div>
        </aside>
      </div>
    </div>
  </div>
  