<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="flex flex-col items-stretch max-w-xl">
    <div class="p-8">
      <h1 class="font-bold text-gray-300 text-xl">Create new Course</h1>
    </div>
    <form [formGroup]="newCourseForm" (ngSubmit)="createCourse()">
      <div class="flex flex-col items-stretch px-8 pb-4">
        <label for="course-title" class="pb-1 px-2 font-medium text-sm text-gray-500">Title </label>
        <input class="bg-gray-800 text-gray-200 rounded h-12 px-2" id="course-title" type="text"
               formControlName="courseTitle">

        <div
          *ngIf="newCourseForm.controls['courseTitle'].invalid && (newCourseForm.controls['courseTitle'].dirty || newCourseForm.controls['courseTitle'].touched)"
          class="alert">
          <div *ngIf="newCourseForm.controls['courseTitle'].errors.required">
            <span class="text-sm text-red-500 font-bold py-2">Title is required</span>
          </div>
          <div *ngIf="newCourseForm.controls['courseTitle'].errors.minlength">
            <span class="text-sm text-red-500 font-medium py-2">Title needs to have at least 5 characters</span>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-stretch px-8 pb-4">
        <label for="course-description" class="pb-1 px-2 font-medium text-sm text-gray-500">Description</label>
        <input id="course-description" class="bg-gray-800 text-gray-200 rounded h-12 px-2" type="text"
               formControlName="courseShortDescription">

        <div
          *ngIf="newCourseForm.controls['courseShortDescription'].invalid && (newCourseForm.controls['courseShortDescription'].dirty || newCourseForm.controls['courseShortDescription'].touched)"
          class="alert">
          <div *ngIf="newCourseForm.controls['courseShortDescription'].errors.required">
            <span class="text-sm text-red-500 font-medium py-2">Description is required</span>
          </div>
          <div *ngIf="newCourseForm.controls['courseShortDescription'].errors.minlength">
            <span class="text-sm text-red-500 font-medium py-2">Description needs to have at least 20 characters</span>
          </div>
        </div>
      </div>

      <div class="m-8 p-2 border border-gray-800 rounded text-gray-200">
        <quill-editor
          [placeholder]="''"
          (onContentChanged)="contentChanged($event)"
          theme="bubble"></quill-editor>
      </div>

      <div class="px-8 pt-4">
        <button [disabled]="!newCourseForm.valid" type="submit"
                class="bg-gray-400 text-gray-900 rounded px-4 py-2 hover:bg-gray-500 font-medium">
          Create Course
        </button>
      </div>

    </form>
  </div>
  <div class="p-8">
    <quill-view-html class="text-gray-100" [content]="description ? description : ''" theme="snow"></quill-view-html>
  </div>
</div>
